### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/web/
/.idea/
/src/main/resources/
/src/main/webapp/
/SpringDemo.iml

setting.xml
!/.gitignore
/target/classes/org/Moc/springtest/UserAddTest.class
/target/classes/org/Moc/User.class

# ignore class
*.class
!/.idea/.gitignore
